
{{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
{{ form_errors(form) }}
<div class="panel panel-success">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-bubble4"></i> Tạo mới thủ tục hành chính</h6>
    </div>
    <div class="panel-body">
        {% if alert|default is not empty %}
        <div class="alert alert-success fade in block-inner">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{alert}}
        </div>
        {% endif%}
        <div class="form-group">
            {{ form_label(form.nametthc, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.nametthc,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nametthc) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.idlinhvuc, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.idlinhvuc,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.idlinhvuc) }}
            </div>
        </div>
         <div class="form-group">
            {{ form_label(form.iddonvithuly, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.iddonvithuly,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.iddonvithuly) }}
            </div>
        </div>
    </div>
</div>
{{form_end(form)}}