{%extends "AcmePermissionBundle::Admin/baseAdmin.html.twig"%}
{% block content%}
{{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
{{ form_errors(form) }}
<div class="panel panel-success">
    <div class="panel-heading">
        <h6 class="panel-title"><i class="icon-bubble4"></i>Thao Tác Với TTHC</h6>
    </div>
    <div class="panel-body">
        {% if alert|default is not empty %}
        <div class="alert alert-success fade in block-inner">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{alert}}
        </div>
        {% endif%}
        <div class="form-group">
            {{ form_label(form.tthc.nametthc, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.tthc.nametthc,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.tthc.nametthc) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.tthc.idlinhvuc, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.tthc.idlinhvuc,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.tthc.idlinhvuc) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.tthc.iddonvithuly, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.tthc.iddonvithuly,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.tthc.iddonvithuly) }}
            </div>
        </div>
         <div class="form-group">
            {{ form_label(form.quyenhan, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.quyenhan,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.quyenhan) }}
            </div>
        </div>
         <div class="form-group">
            {{ form_label(form.user, null,{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.user,{'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.user) }}
                <a href="#" onclick="window.open('{{path('tableUser')}}','name','height=500,width=800')">Tìm Nhanh</a>
                {#<input type="hidden" name="country" value="Norway">#}
            </div>
            
        </div>
        <div class="form-actions text-right">
             {{ form_widget(form.submit,{'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>
</div>
{{form_end(form)}}
{%endblock%}
